.c-builder 
{
    width: 100%;
    background: var(--background-0);
    padding: var(--spacing-4xl);
    border-radius: var(--radius-md);
    border: 1px solid var(--border);
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.c-builder.clean 
{
    background-color: transparent;
    border: none;
    padding: 0;
}

.c-builder .c-builder 
{
    width: 100%!important;
}

.l-popup .c-builder.tabs
{
    width: 900px;
}

.l-popup .c-builder 
{
    width: 100%;
    max-width: 580px;
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
    min-height: 100%;
}

.c-builder > .content 
{
  
    padding-bottom: 20px;
    height: calc(100% - 69px);
}

.c-builder > .content > div
{
    display: flex;
    gap: var(--spacing-3xl);
}

/* Tabs */
.c-builder > .content > div > .tabs
{
    width: 200px;
    height: fit-content;
    position: sticky;
    top: 0;
}

/* Content */

.c-builder > .content > div > .components
{
    flex: 1;
}

.c-builder > .content > div > .components > div > div > .top 
{
    margin-bottom: var(--spacing-lg);
}

.c-builder > .content > div > .components > div > div > .top label
{
    display: block;
    font-weight: 600;
}

.c-builder > .content > div > .components > div > div > .top p 
{
    margin-top: var(--spacing-md);
}

/* Actions */
.c-builder:not(.form) > .actions
{
    position: sticky;
    bottom: 0;
    width: 100%;
    background: var(--background-1);
    padding: var(--spacing-3xl) 0;
    border-top: 1px solid var(--border-primary);
    display: flex;
    justify-content: end;
    z-index: 100000;
    border-bottom: 12px solid var(--background-1);
    transform: translateY(12px);
}

.c-builder.form > .actions 
{
    display: flex;
    justify-content: end;
}

.c-builder.form > .actions > div:first-child
{
    display: none;
}

