.c-heading
{
    display: flex;
    align-items: center;
    justify-content: space-between;  
    min-height: 51px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 15px;
}

.c-heading > .left > .title,
.c-heading > .left > .title > a
{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.c-heading > .left > .title span
{
    line-height: 1;
}
.c-heading > .left > p
{
    margin-top: var(--spacing-xl);
}

.c-heading .separator 
{
    margin-left: 5px;
    margin-right: 5px;
    color: var(--text-tertiary);
}