.c-tabs 
{
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
    gap: var(--spacing-4xl);
}

.c-tabs.column 
{
    border-bottom: none;
    gap: var(--spacing-xl);
}

.c-tabs > div > *
{
    display: flex;
    align-items: center;
    transition: all 0.2s ease;
    border-bottom: 2px solid transparent;
    padding: var(--spacing-xl) 0;
    color: var(--text-primary);
    font-size: var(--text-sm);
    font-weight: 600;
    gap: var(--spacing-lg);
    cursor: pointer;
    line-height: 1;
}

.c-tabs.column > div > * 
{
    border-left: 2px solid transparent;
    border-bottom: unset;
    padding-left: var(--spacing-xl);
}

.c-tabs:not(.column) > div > *:hover 
{
    border-bottom: 2px solid var(--brand-default);
}

.c-tabs:not(.column) > div > *.active
{
    color: var(--brand-default);
    border-bottom: 2px solid var(--brand-default);
}

.c-tabs.column > div > *:hover 
{
    border-left: 2px solid var(--brand-default);
}

.c-tabs.column > div > *.active
{
    color: var(--brand-default);
    background: var(--brand-fill);
    border-radius: var(--radius-md);
    border-left: 2px solid var(--brand-default);
}

.c-tabs > div > *.active i
{
    color: var(--brand-default)!important;
}

.c-tabs > div > * > .count 
{
    background-color: var(--background-2);
    font-size: var(--text-xxs);
    width: 20px;
    height: 20px;;
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    font-weight: 600;
}

/* Column */
.c-tabs.column 
{
    flex-direction: column;
}

.c-tabs.column > div
{
    width: 100%;
}
