.c-informations 
{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    width: 100%;
}

.c-informations > .row 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-md);
    color: var(--text-secondary);
    font-size: var(--text-xs);
    min-height: 40px;
    border-bottom: 1px solid var(--border-primary);
    padding-bottom: var(--spacing-md);
}

.c-informations > .row:last-child
{
    border-bottom: unset;
}

.c-informations > .row > .left
{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
}

.c-informations > .row > .left .title 
{
    font-weight: 600;
}

.c-informations > .row > .right 
{
    text-align: right;
}

/* Clean */
.c-informations.clean  > .row 
{
    border-bottom: none;
}