*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html 
{
    scroll-behavior: smooth;
    font-size: var(--text-xs);
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}


  

        
body 
{
    margin: 0;
    font-family: var(--font-primary);
    color: var(--text-primary);
    background: var(--background-1);
    font-size: var(--text-sm);
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus 
{
    outline: none;
}

a 
{
    color: inherit;
    text-decoration: none;
    color: var(--brand-default);
}

a:focus,
button:focus,
input:focus 
{
    outline: none;
}

img,
picture,
video,
canvas,
svg 
{
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select 
{
    font: inherit;
    color: inherit;
    font-size: var(--text-xs);
}

button 
{
    cursor: pointer;
    border: none;
    background: none;
    color: inherit;
    font-size: var(--text-xs);
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 
{
    font-weight: 600;
    margin: 0;
    line-height: 1.2;
    font-family: var(--font-secondary);
}

h1 { font-size: 22px; }
h2 { font-size: 20px; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p 
{
    margin: 0;
}

@media print 
{
    
}

.pointer 
{
    cursor: pointer;
}

.i-dropdown-close > * 
{
    pointer-events: none;
}

.stroke 
{
    border-bottom: 1px solid var(--border-primary);
    width: 100%;
}

.stroke.secondary
{
    border-bottom: 1px solid var(--border);
}

.image {
    position: relative;
    width: 100%; 
    padding-bottom: 56.25%; 
    overflow: hidden;
    border-radius: var(--radius-md);
    border: 1px solid var(--border-primary);
}
  
.image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain; 
}