.c-sidebar 
{
    width: 280px;
    max-width: 280px;
    height: 100%;
    border-right: 1px solid var(--border);
    transition: 0.15s max-width;
    display: flex;
    background-color: var(--background-1);
}

.c-sidebar .separator-top {
    width: 100%;
    height: 1px;
    background: var(--border);
    margin: 10px 0;
}

.c-sidebar > .left 
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding: var(--spacing-4xl) 0;
    flex: 1;
}

.c-sidebar > .left .top-acc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 30px;
    margin-bottom: 10px;
}

.c-sidebar > .right 
{
    display: none;
}

.c-sidebar.children > .right 
{
    padding: var(--spacing-4xl) 0;
    display: block;
    flex: 1;
}

.c-sidebar > .right > .back 
{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    margin-bottom: var(--spacing-xl);
    font-weight: bold;
    padding: 0 var(--spacing-3xl);
    cursor: pointer;
}

/* Separator */
.c-sidebar .separator 
{
    position: relative;
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 12px;
}



.c-sidebar .separator > p
{
    display: inline-block;
    background-color: var(--background-1);
    z-index: 100;
    padding-right: var(--spacing-xl);
    position: relative;
    font-weight: 600;
}

/* Menus */

.c-sidebar .menu-wrapper 
{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 0 15px;
}

.c-sidebar .menus 
{
    display: flex;
    flex-direction: column;
}

.c-sidebar .menus > div > *
{
    padding: 0 10px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: var(--text-primary);
    height: 36px;
    cursor: pointer;
    font-weight: 500;
}

.c-sidebar.minimized:not(.children) .menus > div > *
{
    width: 42px;
}

.c-sidebar .menus > div > *:hover
{
    background-color: var(--background-0);
}

.c-sidebar .menus > div > *.router-link-active,
.c-sidebar .menus > div > *.active
{
    background-color: var(--background-0);
    border: 1px solid var(--border);
}

.c-sidebar .menus > div > * > div
{
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
}

.c-sidebar .menus > div > * > div img
{
    width: 16px;
    height: 16px;
}

/* Switcher */
.c-sidebar .switcher 
{
    margin: 0 15px;
    background-color: var(--background-0);
    border-radius: 10px;
    margin-bottom: var(--spacing-2xl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 8px 5px 5px;
    border: 1px solid var(--border);
    height: 36px;
    cursor: pointer;
}

.c-sidebar .switcher .name
{
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
}

.c-sidebar .switcher .logo 
{
    width: 24px;
    height: 24px;
    border-radius: var(--radius-md);
    background: var(--black);
}

.c-sidebar .switcher .action
{
    transition: 0.5s transform;
    width: 34px;
}

/* Minimized */
.c-sidebar.minimized:not(.children)
{
    max-width: 65px;
}

.c-sidebar.minimized.children
{
    transition: 0s max-width;
}

.c-sidebar.minimized.children > .left
{
    max-width: 65px;
    transition: 0s max-width;
    border-right: 1px solid var(--stroke-secondary);
}

.c-sidebar.minimized .switcher
{
    padding: 0;
    border: none;
    background: transparent;
    justify-content: center;
    width: 42px;
}

.c-sidebar.minimized .switcher .action
{
    transform: rotate(180deg);
}

.c-sidebar.minimized .menus > div > *
{
    border-radius: var(--radius-md);
}



.c-sidebar > .left > .bottom {
    padding: 0 var(--spacing-xl);
}
