.c-message > .wrapper
{
    display: flex;
    gap: var(--spacing-lg);
    align-items: center;
    border: 1px solid var(--border-primary);
    padding: var(--spacing-xl);
    border-radius: var(--radius-xl);
    max-width: 300px;
}

.c-message > .wrapper > .message > p
{
    display: inline-block;
}

.c-message > .wrapper > .message > span
{
    display: block;
    margin-top: var(--spacing-md);
}


/* Self */

.c-message.self 
{
    display: flex;
    justify-content: end;
}

.c-message.self > .wrapper > .message
{
    order: -1;
}