.c-toggle > .holder 
{
    display: inline-block;
    width: 36px;
    height: 20px;
    position: relative;
    cursor: pointer;
    background-color: var(--background-2);
    border-radius: var(--radius-2xl);
}

.c-toggle.bg1 > .holder
{
    background-color: var(--background-1);
}

.c-toggle.bg2 > .holder
{
    background-color: var(--background-2);
}

.c-toggle.bg3 > .holder
{
    background-color: var(--background-3);
}

.c-toggle > div
{
    margin-bottom: var(--spacing-lg);
}

.c-toggle > div > label 
{
    display: block;
    font-size: var(--text-sm);
    font-weight: 600;
}

.c-toggle > .holder input {

    opacity: 0;
    width: 0;
    height: 0;
}

.c-toggle > .holder > div > .slider 
{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: var(--white);
    border-radius: 50px;
    transition: 0.3s;
    height: 16px;
    width: 16px;
    left: 2px;
    top: 2px;
}

.c-toggle > .holder:has(input:checked) {
    background: var(--black);
}

.c-toggle > .holder > input:checked + div > .slider 
{
    background-color: var(--white);
    transform: translateX(16px);
}

.c-toggle .icon-on 
{
    position: absolute;
    right: 8px;
    top: 0;
    bottom: 0;
    font-size: 14px!important;
    pointer-events: none;
}

.c-toggle .icon-off 
{
    position: absolute;
    left: 8px;
    top: 0;
    bottom: 0;
    font-size: 14px!important;
    pointer-events: none;
}