.c-card-inline
{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: var(--spacing-2xl);
    background-color: var(--background-0);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    cursor: pointer;
}

.c-card-inline > .left
{
    display: flex;
    align-items: center;
    gap: var(--spacing-xl);
}

.c-card-inline p 
{
    margin-top: var(--spacing-md);;
}