.c-banner
{
    padding: var(--spacing-5xl);
    background-color: var(--brand-fill);
    border: 1px solid var(--brand-stroke);
    border-radius: var(--radius-xl);
}

.c-banner > .top 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.c-banner > .top > .left > .title
{
    display: flex;
    align-items: center;
    gap: 8px;
}

.c-banner > .top > .left > .title h1
{
    line-height: 1;
}

.c-banner > .top > .left > p
{
    margin-top: var(--spacing-xl);
}