.c-card-value
{
    padding: var(--spacing-xl);
    background-color: var(--background-0);
    border: 1px solid var(--border);
    border-radius: var(--radius-md);
    cursor: pointer;
}

.c-card-value > .top
{
    padding-bottom: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
    border-bottom: 1px solid var(--border);
    font-weight: 600;
    line-height: 1;
}

.c-card-value > .bottom > .right > a
{
    display: flex;
    gap: 4px;
    font-weight: 600;
}